/* This file is for your main application css. */
.metric-cpu .CircularProgressbar-text {
  fill: #e67e22;
}

.metric-cpu .CircularProgressbar-path {
  stroke: #e67e22;
}

.metric-hdd .CircularProgressbar-text {
  fill: #27ae60
}

.metric-hdd .CircularProgressbar-path {
  stroke: #27ae60;
}

.metric-memory .CircularProgressbar-text {
  fill: #9b59b6;
}

.metric-memory .CircularProgressbar-path {
  stroke: #9b59b6;
}

@media screen and (min-width: 1025px) {
  .ci-row {
    width: 50%;
    display: inline-block;
  }
}

@media screen and (max-width: 1024px) {
  .ci-row {
    width: 100%;
  }
}


.ci-row h2 {
  display: block;
  font-size: 14px;
  margin-right: 5px;
}